@tailwind base;
@tailwind components;
@tailwind utilities;

/* TailwindCSS styles */

.outer-circle {
  transition: all 1.9s ease;
  animation: growAndFade 4s infinite; /* Apply the calmPulse animation continuously */
}

/* Removed the hover and focus selectors since we want the pulse effect to be always on */

.text-industry {
  font-size: 0.7rem;
  font-weight: 600;
  opacity: 0.6;
}

.text-hovered {
  font-size: 0.9rem;
  opacity: 1.0;
  transition: all 0.6s ease;
}

  @keyframes growAndFade {
    0%{
      r: 10;
      opacity: 0.5;
    }
    50% {
      r: 50; /* Adjust the radius as needed */
      opacity: 0;
    }
    100% {
      r: 60; /* Adjust the radius as needed */
      opacity: 0;
    }

  }